@use '@/app/styles/breakpoints';

.root {
  padding: 0;
  margin: 0;

  font-size: 1rem;
  cursor: pointer;
}

.none {
  border: none;
}

.transparent {
  border: none;
  background-color: transparent;
  color: var(--text-input);
  transition: color ease var(--transition-time);

  &:hover {
    @media screen and (min-width: breakpoints.$desktop) {
      color: var(--text-primary);
    }
  }
}

.pagination {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;

  background-color: var(--color-pagination);
  color: var(--text-primary);

  transition: transform ease var(--transition-time);

  &:hover {
    @media screen and (min-width: breakpoints.$desktop) {
      transform: scale(1.1);
    }
  }

  &_active {
    background-color: var(--color-pagination-active);
    transform: scale(1.2);
  }
}
